In [25]:
# Import Libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [39]:
# read csv

df=pd.read_csv('./web_tcp_ip.csv')

In [40]:
# display 5 records from top

df.head()

,Unnamed: 0,sender_ip,destination_ip,protocol_ip,length,source_port,destination_port,data_of_s,seq,ack,flags,window,chksum,urgptr,start_time,end_time
0,0,151.101.242.217,192.168.8.101,6,1480,443,39602,8,2983272631,1538876479,A,220,42496,0,23597683,2811750539
1,1,192.168.8.101,151.101.242.217,6,80,39602,443,15,1538876479,2983271203,A,18639,64977,0,2811754876,23597683
2,2,151.101.242.217,192.168.8.101,6,1480,443,39602,8,2983271203,1538876479,A,220,20166,0,23597683,2811750539
3,3,192.168.8.101,151.101.242.217,6,72,39602,443,13,1538876479,2983274059,A,18662,48420,0,2811754912,23597683
4,4,192.168.8.101,2.19.28.185,6,60,35800,443,10,3627037969,0,S,29200,63267,0,3772611391,0

In [49]:
# display last 5 records

df.tail()

,Unnamed: 0,sender_ip,destination_ip,protocol_ip,length,source_port,destination_port,data_of_s,seq,ack,flags,window,chksum,urgptr,start_time,end_time
67123,67123,172.217.19.174,192.168.8.101,6,90,443,45310,8,236941422,884696885,PA,937,8567,0,4015570440,110319151
67124,67124,192.168.8.101,172.217.19.174,6,52,45310,443,8,884696885,236941460,A,1444,3783,0,110319469,4015570438
67125,67125,172.217.19.174,192.168.8.101,6,98,443,45310,8,236941460,884696885,PA,937,3698,0,4015570440,110319151
67126,67126,192.168.8.101,172.217.19.174,6,98,45310,443,8,884696885,236941506,PA,1444,22110,0,110319470,4015570440
67127,67127,172.217.19.174,192.168.8.101,6,52,443,45310,8,236941506,884696931,A,937,4108,0,4015570527,110319470

In [42]:
# display columns in dataframe

df.columns

Index(['Unnamed: 0', 'sender_ip', 'destination_ip', 'protocol_ip', 'length',
       'source_port', 'destination_port', 'data_of_s', 'seq', 'ack', 'flags',
       'window', 'chksum', 'urgptr', 'start_time', 'end_time'],
      dtype='object')

In [48]:
len(df)

67128

In [ ]:
df.drop

In [45]:
df.groupby('source_port').first()

,Unnamed: 0,sender_ip,destination_ip,protocol_ip,length,destination_port,data_of_s,seq,ack,flags,window,chksum,urgptr,start_time,end_time
source_port,,,,,,,,,,,,,,,
80,113,93.184.220.29,192.168.8.101,6,60,59318,10,99567323,1480830382,SA,65535,5513,0,332944034,3974275425
443,0,151.101.242.217,192.168.8.101,6,1480,39602,8,2983272631,1538876479,A,220,42496,0,23597683,2811750539
8883,2512,38.90.226.51,192.168.8.101,6,52,35480,8,3553075964,414969320,A,568,32844,0,2413553075,949832125
32920,39908,192.168.8.101,88.221.28.96,6,60,443,10,3055921672,0,S,29200,48870,0,584373096,0
32922,39909,192.168.8.101,88.221.28.96,6,60,443,10,2293208187,0,S,29200,479,0,584373105,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60628,51432,192.168.8.101,93.184.220.29,6,60,80,10,1729586763,0,S,29200,14069,0,3975672983,0
60632,51461,192.168.8.101,93.184.220.29,6,60,80,10,2263535392,0,S,29200,44365,0,3975673234,0
60787,55003,192.168.8.101,13.94.40.40,6,60,443,10,3388357518,0,S,29200,15389,0,1417826825,0
60932,34646,192.168.8.101,64.233.166.189,6,60,443,10,122677696,0,S,29200,41689,0,3918575617,0
60934,34649,192.168.8.101,64.233.166.189,6,60,443,10,2330096859,0,S,29200,37678,0,3918575868,0

In [50]:
df.groupby('urgptr').first()

,Unnamed: 0,sender_ip,destination_ip,protocol_ip,length,source_port,destination_port,data_of_s,seq,ack,flags,window,chksum,start_time,end_time
urgptr,,,,,,,,,,,,,,,
0,0,151.101.242.217,192.168.8.101,6,1480,443,39602,8,2983272631,1538876479,A,220,42496,23597683,2811750539

In [46]:
df.groupby('destination_port').first()

,Unnamed: 0,sender_ip,destination_ip,protocol_ip,length,source_port,data_of_s,seq,ack,flags,window,chksum,urgptr,start_time,end_time
destination_port,,,,,,,,,,,,,,,
80,779,192.168.8.101,182.176.154.42,6,60,51210,10,1105067903,0,S,29200,23173,0,3338768584,0
443,1,192.168.8.101,151.101.242.217,6,80,39602,15,1538876479,2983271203,A,18639,64977,0,2811754876,23597683
2222,2363,192.168.8.101,172.16.0.53,6,60,38734,10,1210865288,0,S,29200,8400,0,1620091019,0
8883,2479,192.168.8.101,38.90.226.51,6,83,35480,8,414969289,3553075964,PA,305,32769,0,949832125,2413478009
32920,39914,88.221.28.96,192.168.8.101,6,60,443,10,20815562,3055921673,SA,28960,13622,0,3173199204,584373096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
60626,53074,93.184.220.29,192.168.8.101,6,60,80,10,240179921,3660263659,SA,65535,61323,0,3647650606,3975672465
60628,53124,93.184.220.29,192.168.8.101,6,60,80,10,1622370839,1729586764,SA,65535,9303,0,334341603,3975672983
60632,53172,93.184.220.29,192.168.8.101,6,60,80,10,263764098,2263535393,SA,65535,58944,0,2795031094,3975673234
60932,34734,64.233.166.189,192.168.8.101,6,60,443,10,1498097510,122677697,SA,62392,37127,0,1845469572,3918575617
60934,34740,64.233.166.189,192.168.8.101,6,60,443,10,1460403446,2330096860,SA,62392,31230,0,1394077817,3918575868

In [37]:
df.groupby('protocol_ip').first()

,length,data_of_s,seq,ack,window,chksum,urgptr,start_time,end_time
protocol_ip,,,,,,,,,
6,1480,8,2983272631,1538876479,220,42496,0,23597683,2811750539

In [51]:
# drop columns like ip addresses,ports for current analysis of data

df=df[['length', 'data_of_s', 'seq', 'ack', 'window', 'chksum', 'start_time', 'end_time']]

In [52]:
df.dtypes

length        int64
data_of_s     int64
seq           int64
ack           int64
window        int64
chksum        int64
start_time    int64
end_time      int64
dtype: object

In [53]:
df.corr()

,length,data_of_s,seq,ack,window,chksum,start_time,end_time
length,1.000000,-0.269720,0.076696,0.235949,-0.418650,0.000478,0.501230,-0.498228
data_of_s,-0.269720,1.000000,0.061363,-0.008912,0.419482,0.001665,-0.227724,0.155372
seq,0.076696,0.061363,1.000000,0.296289,0.212420,-0.005395,-0.175846,0.059111
ack,0.235949,-0.008912,0.296289,1.000000,-0.076353,0.003616,0.081620,-0.093889
window,-0.418650,0.419482,0.212420,-0.076353,1.000000,-0.001092,-0.385816,0.244662
chksum,0.000478,0.001665,-0.005395,0.003616,-0.001092,1.000000,0.003483,0.007245
start_time,0.501230,-0.227724,-0.175846,0.081620,-0.385816,0.003483,1.000000,-0.574370
end_time,-0.498228,0.155372,0.059111,-0.093889,0.244662,0.007245,-0.574370,1.000000

In [54]:
df.mean()

length        5.997217e+02
data_of_s     8.434409e+00
seq           2.482066e+09
ack           2.429458e+09
window        5.810107e+03
chksum        3.286161e+04
start_time    2.096799e+09
end_time      1.833647e+09
dtype: float64

In [55]:
df.var()

length        4.597209e+05
data_of_s     1.589155e+00
seq           1.337748e+18
ack           1.546805e+18
window        1.122668e+08
chksum        3.576519e+08
start_time    2.016159e+18
end_time      2.106740e+18
dtype: float64

In [56]:
df.std()

length        6.780272e+02
data_of_s     1.260617e+00
seq           1.156610e+09
ack           1.243706e+09
window        1.059560e+04
chksum        1.891169e+04
start_time    1.419915e+09
end_time      1.451461e+09
dtype: float64