In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [7]:
df = pd.read_csv('../data/web_tcp_ip.csv')

In [8]:
df.head()

,Unnamed: 0,sender_ip,destination_ip,protocol_ip,length,source_port,destination_port,data_of_s,seq,ack,flags,window,chksum,urgptr,start_time,end_time
0,0,192.168.8.100,13.76.217.211,6,60,54180,443,10,364700558,0,S,64240,41692,0,2653981995,0
1,1,192.168.8.100,13.76.217.211,6,52,54180,443,8,364700559,3869128378,A,502,9133,0,2653982164,1386034759
2,2,192.168.8.100,13.76.217.211,6,569,54180,443,8,364700559,3869128378,PA,502,24744,0,2653982164,1386034759
3,3,13.76.217.211,192.168.8.100,6,1500,443,54180,8,3869128378,364701076,A,1029,52073,0,1386034926,2653982164
4,4,192.168.8.100,13.76.217.211,6,52,54180,443,8,364701076,3869129826,A,501,6847,0,2653982319,1386034926